/* light green.css */
:root {
  --color-60: 200.87, 21.1%, 21.37%;
  --color-60-2: 202.11, 23.17%, 32.16%;
  --color-30: 198.18, 33.33%, 80.59%;
  --color-30-2: 0, 0%, 93.73%;
  --color-10: 17.36, 100%, 52.55%;
}
