/* neon.css */
:root {
  --color-60: 186.76, 100%, 58.24%;
  --color-60-2: 194.18, 94.02%, 54.12%;
  --color-30: 170.9, 100%, 58.63%;
  --color-30-2: 209.65, 100%, 50%;
  --color-10: 200.94, 100%, 50%;
}
