/* dark green.css */
:root {
  --color-60: 235.14, 45.68%, 15.88%;
  --color-60-2: 227.59, 45.08%, 37.84%;
  --color-30: 218.18, 51.93%, 54.31%;
  --color-30-2: 212.92, 79.02%, 71.96%;
  --color-10: 207.57, 82.22%, 82.35%;
}
