/* dark green.css */
:root {
  --color-60: 207.57, 94.87%, 7.65%;
  --color-60-2: 203.04, 94.92%, 23.14%;
  --color-30: 197.14, 94.15%, 33.53%;
  --color-30-2: 191.07, 90.35%, 44.71%;
  --color-10: 338, 93.75%, 43.92%;
}
