:root {
  --color-60: 263.1, 76.95%, 52.35%;
  --color-60-2: 268.7, 66.35%, 59.22%;
  --color-30: 274.53, 56.99%, 63.53%;
  --color-30-2: 290.91, 41.77%, 69.02%;
  --color-10: 331.76, 49.51%, 79.8%;
}
